@import '../../styles/globalVariables.scss';

.section {
  @include section;
  gap: 37px;
  padding: 0 50px 76px 50px;
  box-sizing: border-box;
  @media (max-width: $breakpointTablet) {
    padding-left: 12px;
    padding-right: 12px;
  }
  @media (max-width: $breakpointMobileSmall) {
    gap: 25px;
    padding-bottom: 34px;
  }
}
.wrapper {
  @include wrapper($white);
}
.title {
  @include title($blue-main);
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  @media (max-width: $breakpointMobileSmall) {
    gap: 16px;
  }
}
