@import '../../styles/globalVariables.scss';

@keyframes shift432 {
  0% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(calc(-50% + 432px + 25px / 2));
  }
  30% {
    transform: translateX(calc(-50% + 432px + 25px / 2));
  }
  45% {
    transform: translateX(calc(-100% + 2 * 432px + 25px));
  }
  55% {
    transform: translateX(calc(-100% + 2 * 432px + 25px));
  }
  70% {
    transform: translateX(calc(-50% + 432px + 25px / 2));
  }
  80% {
    transform: translateX(calc(-50% + 432px + 25px / 2));
  }
  95% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes shift300 {
  0% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(calc(-50% + 300px + 25px / 2));
  }
  30% {
    transform: translateX(calc(-50% + 300px + 25px / 2));
  }
  45% {
    transform: translateX(calc(-100% + 2 * 300px + 25px));
  }
  55% {
    transform: translateX(calc(-100% + 2 * 300px + 25px));
  }
  70% {
    transform: translateX(calc(-50% + 300px + 25px / 2));
  }
  80% {
    transform: translateX(calc(-50% + 300px + 25px / 2));
  }
  95% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes shift200 {
  0% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(calc(-50% + 200px + 15px / 2));
  }
  30% {
    transform: translateX(calc(-50% + 200px + 15px / 2));
  }
  45% {
    transform: translateX(calc(-100% + 2 * 200px + 15px));
  }
  55% {
    transform: translateX(calc(-100% + 2 * 200px + 15px));
  }
  70% {
    transform: translateX(calc(-50% + 200px + 15px / 2));
  }
  80% {
    transform: translateX(calc(-50% + 200px + 15px / 2));
  }
  95% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes shift150 {
  0% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(calc(-50% + 150px + 10px / 2));
  }
  30% {
    transform: translateX(calc(-50% + 150px + 10px / 2));
  }
  45% {
    transform: translateX(calc(-100% + 2 * 150px + 10px));
  }
  55% {
    transform: translateX(calc(-100% + 2 * 150px + 10px));
  }
  70% {
    transform: translateX(calc(-50% + 150px + 10px / 2));
  }
  80% {
    transform: translateX(calc(-50% + 150px + 10px / 2));
  }
  95% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

.container {
  width: 100%;
  overflow: hidden;
  // height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
  min-height: 881px;
  box-sizing: border-box;
  @media screen and (max-width: 1400px) {
    min-height: 625px;
    width: 625px;
  }
  @media screen and (max-width: $breakpointMobile) {
    min-height: 415px;
    width: 415px;
    gap: 15px;
  }
  @media screen and (max-width: 460px) {
    min-height: 310px;
    width: 305px;
    gap: 10px;
  }
}
.row {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}
.roller {
  box-sizing: border-box;
  display: flex;
  gap: 25px;
  animation: shift432 35s linear 0s infinite alternate;
  @media screen and (max-width: 1400px) {
    animation-name: shift300;
    animation-duration: 30s;
  }
  @media screen and (max-width: $breakpointMobile) {
    animation-name: shift200;
    animation-duration: 25s;
    gap: 15px;
  }
  @media screen and (max-width: 460px) {
    animation-name: shift150;
    animation-duration: 20s;
    gap: 10px;
  }
}
.item {
  position: relative;
  box-sizing: border-box;
  width: 432px;
  height: 432px;
  flex-shrink: 0;
  @media screen and (max-width: 1400px) {
    width: 300px;
    height: 300px;
  }
  @media screen and (max-width: $breakpointMobile) {
    height: 200px;
    width: 200px;
  }
  @media screen and (max-width: 460px) {
    height: 150px;
    width: 150px;
  }
}
