.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: transparent;
}
.hljs,
.hljs-subst {
  color: #00a4cc;
}
.hljs-comment {
  color: #888;
}
.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta-keyword,
.hljs-name,
.hljs-selector-tag {
  font-weight: 700;
}
.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
  color: rgb(138, 6, 22);
}
.hljs-section,
.hljs-title {
  color: #00a4cc;
  font-weight: 700;
}
.hljs-link,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
  color: #7ed0ed;
}
.hljs-literal {
  color: #7ed0ed;
}
.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
  color: #7ed0ed;
}
.hljs-meta {
  color: rgb(138, 6, 22);
}
.hljs-meta-string {
  color: #0090da;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
